{% load static %}
<!DOCTYPE <html>
<head>
	<title>
		{% block title %}My base Template{%endblock%}
	</title>
	<link rel="stylesheet" type="text/css" href="{%static "assets/css/default.css" %}">
</head>
<body>
	<div id="page"> 
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/articles/all">Articles</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>
		{% endblock %}
	</div>
	<div id="content">
		{% block content %}This is the contenet area{% endblock %}
	</div>
	</div>
</body>